@font-face
  font-family: 'Helvetica'
  src: url('/fonts/helvetica.ttf') format('truetype')

@font-face
  font-family: 'New Baskerville'
  src: url('/fonts/NewBaskerville-Roman.otf') format('opentype')