<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="{{ site.encoding }}">
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<title>{{ layout.title }}</title>
<link rel="canonical" href="{{ page.url | prepend: site.baseurl | prepend: site.url}}">
<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
<link href="{{ '/basic.css' | prepend: site.baseurl }}" rel="stylesheet">
<link href="{{ '/highlight.css' | prepend: site.baseurl }}" rel="stylesheet">
<link href="{{ '/index.css' | prepend: site.baseurl }}" rel="stylesheet">
{% feed_meta %}
<body>
  {{ content }}
  <footer>
    <span>
      <a href="{{ site.url }}">
        {% if layout.author %}{{ layout.author }}
        {% else %}{{site.author}}
        {% endif %}</a>
    </span>
    <span>
      {% for link_hash in site.links %}
        {% for link in link_hash %}
          <a href="{{ link[1].url }}">
            <i class="fa fa-{{ link[0] }}{% if link[1].square %}-square{% endif %}"></i>
          </a>
        {% endfor %}
      {% endfor %}
    </span>
    <span>© {{ site.time | date: "%Y" }}</span>
  </footer>
</body>
